/* colors
#090909
#332424
#553C3C
#555555
#A2A2A2

#FFA000 -> #FFBC4C
*/

@font-face
{
    font-family: 'moonbold';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/moon_bold-webfont.woff2') format('woff2'), url('fonts/moon_bold-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'moonlight';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/moon_light-webfont.woff2') format('woff2'), url('fonts/moon_light-webfont.woff') format('woff');
}

body
{
    font-family: 'Open Sans';

    margin: 0;

    color: whitesmoke;
    background-color: #f1f1f1;
}

.container
{
    display: flex;
}

footer
{
    display: flex;
    flex-direction: column;

    padding: 75px 0;

    text-align: center;

    background-color: #090909;

    justify-content: space-around;
}

h1,
h2,
h3,
h4,
h5,
h6,
a
{
    font-family: 'moonlight', sans-serif;

    color: #ffa000;
}

p
{
    font-size: .8em;

    margin: 0;
}


.shadow
{
    background-color: #090909;
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.shadow h1
{
    font-family: 'moonbold';
    font-size: 50px;

    margin: 0;
    padding-top: 100px;

    text-align: center;

    color: #ffa000;
}

.shadow p
{
    font-family: 'Open Sans';

    margin: 0;
    padding-top: 5px;
    padding-bottom: 100px;

    text-align: center;
}

.shadow-box
{
    margin-bottom: 100px;

    box-shadow: 0 0 20px #aaa;
}

/* =====================================================
   NAVBAR
   ===================================================== */
.nav-height
{
    height: 100px;
}

.menu-top-container
{
    position: fixed;
    z-index: 99;

    display: flex;

    width: 100%;
    height: 100px;
    padding-left: 0;

    background-color: #090909;

    justify-content: center;
    align-items: center;
}

.menu-top-container ul li
{
    font-family: 'moonlight';

    display: inline-block;

    padding: 5px;

    cursor: pointer;
}

.menu-top-container ul a
{
    padding: 20px;

    text-decoration: none;

    color: whitesmoke;
    border: 1px solid #555;
}

.menu-top-container ul a:hover
{
    border: 1px solid transparent;
}


/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar
{
    min-width: 20%;
    max-width: 20%;

    background-color: black;
}

.sidebar ul
{
    width: 85%;
    margin: 0 auto;
    padding: 8%;

    list-style: none;
}

.sidebar h2
{
    font-family: 'moonbold';
    font-size: 18px;

    height: 30px;

    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.sidebar h4
{
    font-family: 'moonlight';
    font-size: 16px;
    font-weight: 100;

    color: whitesmoke;
}

.sidebar p
{
    font-family: 'Open Sans';
    font-size: 13px;

    color: whitesmoke;
}

.sidebar a
{
    font-family: 'Open Sans';
    font-size: 13px;

    text-decoration: none;

    color: whitesmoke;
}

.vsel-content
{
    border-bottom: 1px solid #ffbc4c !important;
}

.home
{
    height: 100%;
    margin: 50px;
}

.description
{
    display: flex;

    height: 400px;
}

.description div
{
    width: 50%;
    min-width: 50%;
}

.the-artist img
{
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.description-content
{
    display: flex;
    flex-direction: column;

    color: #eee;
    background-color: black;

    justify-content: center;
}

.description-content p:first-child,
.description-content p:last-child
{
    line-height: 20px;

    padding: 0 25px;
}

.description-content p
{
    padding: 25px;
}


/* ==================================================
   ICONS CONCERT EVENT
   ================================================== */
#vsel .vsel-meta-date:before
{
    font-family: 'FontAwesome';

    margin-right: 5px;

    content: '\f133';
}
#vsel .vsel-meta-time:before
{
    font-family: 'FontAwesome';

    margin-right: 5px;

    content: '\f017';
}
#vsel .vsel-meta-location:before
{
    font-family: 'FontAwesome';

    margin-right: 5px;

    content: '\f041';
}
#vsel .vsel-meta-link:before
{
    font-family: 'FontAwesome';

    margin-right: 5px;

    content: '\f145';
}
#vsel .vsel-meta-link a,
#vsel .vsel-meta-link
{
    color: #ffa000;
}

/* ==========================================================================
   SECTION  D'ÉCOUTE
   ========================================================================== */
.ecoute
{
    overflow-y: hidden;

    width: 100%;
    max-height: 600px;

    background-color: black;
}

.title
{
    position: relative;
    z-index: 1;

    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;

    color: black;
    background-color: #ffa000;
}

.titre-musique
{
    display: flex;

    background-color: black;
}

.titre-musique img
{
    display: block;

    width: 100px;
    height: 100px;
    padding: 40px;

    border-radius: 100%;

    object-fit: cover;
}

.titre-musique .music-content
{
    min-width: calc(90% - 100px);
    padding: 40px 0 40px 0;
}

.titre-musique h3
{
    margin-bottom: 5px;
}

.titre-musique p
{
    padding: 5px 0 15px 0;
}

.titre-musique audio
{
    width: 100vw !important;
}

/* ==========================================================================
   SLIDER
   ========================================================================== */
.nivo-controlNav
{
    background-color: #0e0e0e;
}


/* ==========================================================================
   SECTION  CONTACT
   ========================================================================== */
.wpcf7
{
    display: flex;

    justify-content: center;
}

.wpcf7 p label
{
    font-weight: 700;

    display: block;

    margin-top: 25px;

    color: #222;
}

.wpcf7 input
{
    height: 50px;
}

.wpcf7 input,
.wpcf7 textarea
{
    font-size: 1.3em;

    width: 50vw;
    padding: 0 10px;

    color: #777;
    outline: 0;
}

.wpcf7 textarea
{
    padding: 10px;
}

.wpcf7 input:focus,
.wpcf7 textarea:focus
{
    color: #ffa000;
    border: 2px solid #ffa000;
    outline: 1px solid #e49207;
}

.wpcf7 textarea:focus
{
    border: 1px solid #ffa000;
}

.wpcf7-submit
{
    display: block;

    width: 200px !important;
    margin: 25px auto;

    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;

    color: #fff !important;
    border: 0;
    background-color: #222;
}

.wpcf7-submit:hover
{
            filter: brightness(200%);
    -webkit-filter: brightness(200%);
}

.wpcf7-submit:focus
{
    border: 0 !important;
    outline: 0 !important;

            filter: brightness(200%);
    -webkit-filter: brightness(200%);
}

.wpcf7-validation-errors
{
    text-align: center;

    background-color: #000;
}
div.wpcf7-response-output
{
    margin: -25px 0 15px 0 !important;
}
